
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
  * Blog name and description
  */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
  * Blog posts
  */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin: 3rem 0 .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
  * Footer
  */
.blog-footer {
  padding: 1rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #343A40;
  z-index: 2;
  p {
    margin-bottom: 0.5rem;
  }
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

textarea.form-control {
  height: 100px;
}

textarea.form-control.post-input {
  height: 500px;
}

.header-right-button {
  margin-right: 10px;
}

.flash-message {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
}

.pagination {
  justify-content: center;
}

.headline-image {
  height: auto;
  width: 100%;
}

#upload-img-preview {
  height: auto;
  width: 30%;
  border-radius: 10px;
}

.blog-main {
  padding-bottom: 100px;
}

// upload section

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  }
.upload-btn {
  display: block;
  margin-top: 20px;
}
.file-name-label {
  margin-left: 20px;
  padding: 10px;
}
.upload.icon {
  font-size: 15px
}

// upload section end 



.category-select {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

//no result search

.no-result .no-result-icon {
  font-size:100px
}
.no-result-msg {
  font-size:40px
}
.no-result {
  text-align:center;
  max-width:400px;
  margin:auto;
  color:#696969;
  margin-top:100px;
}

//wysiwig height
.note-editable  {
  height: 300px;
}